/* Home.css */
.race-list {
  display: flex;
  justify-content: center;
  padding: 4vh;
}

.ant-list {
  width: 80vw;
}

.ant-card {
  margin: 2vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ant-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.ant-card-meta-title {
  font-size: 3vw;
  text-align: center;
}

.ant-card-cover img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

